@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<h1>Välkommen!</h1>
<h5>Information om uppgiften</h5>

<p>Uppgiften går ut på att skapa en webbplats med hjälp av Razor Pages inom ramen för ASP.NET Core. 
    Webbplatsen ska bestå av tre separata sidor: en startsida, en Om-sida och en Razor-sida. <br><br>
    Förutom dessa sidor ska det även finnas en gemensam layout-fil med grundkoden för webbsidorna.
    På startsidan ska det finnas en huvudmeny för att navigera till de olika undersidorna, samt dagens 
    datum ska visas uppe till höger. På Om-sidan ska det finnas information om skaparen av webbplatsen, 
    eventuellt inklusive interaktivt innehåll implementerat med JavaScript. Razor-sidan ska visa en lista 
    med kurser i programmet i strängformat, samt datum och klockslag när sidan besöks. Webbplatsen ska vara 
    responsiv och grafiskt utsmyckad med hjälp av CSS. <br><br> Dessutom ska det finnas någon form av valfri 
    JavaScript-funktionalitet som ska ligga i en extern JavaScript-fil. Källkoden ska vara prydligt formatterad 
    och validera korrekt.</p>
